.list-image-item {
  margin-bottom: 10px;
}

.btn-thumbnail {
  background-color: transparent;
  border: none;
  outline: none;
}

.thumbnail-image {
  height: 140px;
  width: 140px;
}
@media screen and (min-width: 768px) {
  .thumbnail-image {
    height: 175px;
    width: 175px;
  }
}
